<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="TEAWeeklyRun">
      		<methods>
				<include name="Auto1TEASubmitApplication" />
				<include name="Auto2TEALogin_Confirm_UploadDocs" />
				<include name="Auto4TEASaveContinueDelete" />
				<include name ="Auto6TEASecondarySchoolDetailsWithdraw" />
				<include name ="Auto8TEAApplicationForMasterOfAppliedPsychology" />
				<include name ="Auto9TEATeachingProgrammeAdditionalInfo" />
				
				
				<!--
					<exclude name="testMakeOrder" />
				 -->
			</methods>
		</class>
      <!-- class name="UATStudentDataDailyImport"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
